@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .command-hint {
    color: salmon;
  }
  .good-hint {
    color: greenyellow;
  }
  .bad-hint {
    color: red;
  }
  .emphasize-hint {
    color: goldenrod;
  }
  .highlight {
    color: fuchsia;
  }
  .page-foundation {
    @apply bg-black text-white flex flex-row w-screen h-screen;
  }
  .page-title {
    @apply m-16 mr-auto text-6xl max-w-[calc(100vw-24rem)] w-[calc(100vw-24rem)];
  }
}
